<!-- 
This code hosts the 'about' page for the website. This part of the website was not hard to code due to its simplicity and lack of backend for this part of the website.
Sources: https://flask.palletsprojects.com/en/3.0.x/ - This source was used to figure make html compatible with python through Flask. The coding principles from this source are scattered around the entirety of the code because of the specificity of important commands.
OMH 
 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/styles.css">
        <meta charset="UTF-8">
        <title>Braille Translator | About</title>
        <meta name="description" content="Convert English text to a 3D braille model | About">
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <a href="{{ url_for('translate') }}">TRANSLATE</a>
                    <a href="{{ url_for('directions') }}">DIRECTIONS</a>
                    <a href="{{ url_for('about') }}">ABOUT</a>
                </ul>
            </nav>
            <h1 class="web-name web-name-large">E2B</h1>
            <h2 class="web-name">English to Braille</h2>
        </header>

        <section class="content-section container">
            <h2 class="section-header">About</h2>
            <p class="text-primary">
                E2B was created by three highschool students, Ari Peres, Joe Yan, and Aureliano Applebee. The website's primary goal is to take on a task of social justice and to help the world. In today's world, many blind people need to have easy access to reading. Although many english to braille translators already exist they only go half the mile. Blind people can't run their hands across a flat screen to read translated english to braille, so E2B aims to create an easily printed 3D model of braille. Although 3D printers can be very expensive its easy to get access to local printers for very cheap. Although there are also specific machines made for braille they are very expensive and inaccessible. E2B takes English text, converts it to Braille, and then creates a 3D model of the Braille. For further accessibility, E2B offers many modifations to the 3D model.
            </p>
            
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="web-name web-name-footer">Braille Translator | About</h3>
            </div>
            <div class="contact-info">
                <a class="text-primary">Contact Info</a>
                <a class="text-primary">aapplebee26@choate.edu</a>
                <a class="text-primary">jyan26@choate.edu</a>
                <a class="text-primary">aperes26@choate.edu</a>
            </div>
        </footer>
    </body>
</html>